@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: rgb(0, 0, 0);
}
img{
    width: 1000px;
}
header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    font-style: oblique;
}

.logo {
    text-decoration: none;
    color: #ff0000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    font-style: oblique;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    color: #ff0000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: #ff0000;
}

.language-tab {
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-left: 20px; 
    color:#ff0000
}
.language-tab:hover a{
    color: #000000; 
}

.section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main div {
    text-align: center; 
}

.main h2 {
    color: #ffffff;
    font-size: 2.4em;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #ff00009d;
    font-size: 3em;
    font-weight: 800;
    font-style: oblique;
    
}

.main h3 {
    color: #ffffff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-style: oblique;
    border-top: 3px #ff0000 double;
    border-right: 3px #ff0000 double;
    border-bottom: 3px #ff0000 double;
    border-left: 3px #ff0000 double;
}

.title {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #000000;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(255, 0, 0, 0.15);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    
}

.card .info h3, 
.card .info p {
    color: #ffffff;
}


.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #ff0000;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: #000000;
}

.projects .content {
    margin-top: 30px;
}

.project-card {
    background-color: #000000;
    border: 1px solid #000000;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-image img {
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #ff0000;
}

.more-details:hover {
    color: #ff0000;
}

.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #ff0000;
}

.footer .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px) {
    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .main-content h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px) {
    body {
        font-size: 12px;
    }

    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }
}
#toggle-button {
    background-color: #ff0000; 
    color: white; /
    border: none; 
    padding: 10px 20px; 
    font-size: 1.1em; 
    font-weight: 500; 
    cursor: pointer; 
    border-radius: 5px; 
    margin-top: 10px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

#toggle-button:hover {
    background-color: #e60000; 
    transform: scale(1.05); 
}

#toggle-button:focus {
    outline: none; 
}
                                     
            